body{
    background-color: #333;
    color: #66c3ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

#main-header{
    background-color: #66c3ff;
    color: #333;
}

#navbar{
    background-color: #66c3ff;
    color: #fff;
}

#navbar ul{
    padding: 0;
    list-style: none;
    }

#navbar li{
    display:inline;
}

#navbar a{
    color:#333;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase{
    background-image: url('../images/showcase.png');
    background-position:center right;
    min-height:300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color: #66c3ff;
    font-size: 50px;
    text-shadow: 2px 2px 2px #333;
    line-height: 1.6em;
    padding-top: 30px;
}

#main{
    float:left;
    width:70%;
    padding:0 30px;
    box-sizing: border-box;
}

#sidebar{
    float:right;
    width:30%;
    background: #000;
    color: #66c3ff;
    padding:10px;
    box-sizing: border-box;
}

#main-footer{
    background: #66c3ff;
    color: #333;
    text-align: center;
    padding: 20px;
    margin-top:40px;
}

@media(max-width:600px){
    #main{
        width:100%;
        float:none;
            }
     #sidebar{
         width:100%;
         float:none;
             }
}