body {
    background: #b4eeca;
    font-family: Tahoma, Arial, sans-serif;
}

.menu {
    border: solid 2px black;
    padding-bottom: 10px;
}

.hmenu{
    line-height: 0px;
}

h1 {
    color: blueviolet;
    font: 32px Garamond, Helvetica, serif;
}

table {
    width: 50%;
}

thead {
    text-align: left;
}

label {
    display: block;
}

#submit-btn {
    display: block;
}